// Importation de la police d'écriture
@font-face {
  font-family: 'Capture it';
  src: url('/font/Capture\ it.ttf');
}

body {
  font-family: 'Capture it';
  background-color: #f5f5dc;
}

// Pour le texte en beige
.text-beige {
  color: #f5f5dc;
}

// Pour le texte en vert
.text-vert {
  color: #2e7d32;
}

// Pour le texte en marron
.text-marron {
  color: #8d6e63;
}

// Pour le texte en noir
.text-noir {
  color: #333333;
}

// Pour le texte en bleu pluie
.text-bleu-pluie {
  color: #607d8b;
}

// Pour le background en vert
.bg-vert {
  background-color: #2e7d32;
}

// Pour le background en beige
.bg-beige {
  background-color: #f5f5dc;
}

// Pour le background en marron
.bg-marron {
  background-color: #8d6e63;
}

// Pour le background en noir
.bg-noir {
  background-color: #333333;
}

// Pour le background en bleu pluie
.bg-bleu-pluie {
  background-color: #607d8b;
}

// Taille des boutons
.taille-bouton {
  width: 15rem;
  height: auto;
  padding: 0.5rem;
  font-size: larger;
}

// Pour le bouton d'inscription de la page d'accueil
.bouton-inscription {
  background-color: #2e7d32;
}

// Pour le bouton pour aller sur la page de connexion
.bouton-connexion {
  background-color: #607d8b;
}

// Taille des champs pour les informations
.taille-input {
  width: 25rem;
  height: auto;
}

// Taille du logo
.taille-logo {
  width: 10%;
  height: 10%;
}

// Pour le footer en version desktop
.footer-desktop {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #8d6e63;
}

// Pour le footer en version mobile

.footer-mobile {
  position: absolute;
  width: 100%;
  height: 37%;
  background-color: #8d6e63;
}

// Liens utiles dans le footer
.liens-utiles {
  height: 37%;
}

// // Media Query pour le footer pour la version mobile
// @media screen and (max-width: 412px) {
//   .container-fluid {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between; /* Espace entre les éléments */
//     height: 100vh; /* Hauteur totale de la fenêtre */
//   }
// }
