// Importation de la police d'écriture
@font-face {
  font-family: 'Capture it';
  src: url('/font/Capture\ it.ttf');
}

body {
  font-family: 'Capture it';
  background-color: #f5f5dc;
}

// Taille des boutons
.taille-bouton {
  width: 15rem;
  height: auto;
  padding: 0.5rem;
  font-size: larger;
}

// Pour le bouton d'inscription de la page d'accueil
.bouton-inscription {
  background-color: #2e7d32;
}

// Pour le bouton pour aller sur la page de connexion
.bouton-connexion {
  background-color: #607d8b;
}

// Taille des champs pour les informations
.taille-input {
  width: 25rem;
  height: auto;
}

// Taille du logo
.taille-logo {
  width: 10%;
  height: 10%;
}
